.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
    animation-name: quadrado;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
}
@keyframes quadrado{
    0%{
        top: 0px;
        left: 0px;

    }
    25%{
        top: 0px;
        left: 100px;
    }
    50%{
        left: 100px;
        top:100px;

    }
    75%{
        left: 0px;
        top:100px;
    }
    100%{
        left: 0px;
        top:0px;
    }
}