body{
    background-color: gainsboro;
    text-align: center;
    
}

.senha,
.nome,
.email{
    font-weight: bold;

}

.input-senha,
.input-email,
.input-nome{
border-radius: 5px;
border: 1px solid black;
background-color: white;
color: black;
display: inline-block;
margin-bottom: 5px;
width: 50%;
font-weight: bold;
}

   

.input-email:hover{
    background-color: azure;
    
    
    color: white;
}
.input-senha:hover{
    background-color: azure;
    color: white;
}
.input-nome:hover{
    background-color: azure;
    color: white;
}
.botao{
    border-color: white;
    background-color: transparent;
    color: darkblue;
    border-radius: 5px;
    display: inline-block;
    width: 30%;
    font-weight: bold;
}
.botao:hover{
    background-color: azure;


}
