body{
    background-color: blanchedalmond;
    text-align: center;
}
.classe{
    text-align: center;
    border: 2px solid black;
    display: inline-block;
    width: 30%;
    font-family: courier,arial,helvetica;

}
.foto{
    margin-top: 5px;
    border-radius: 100px;
    padding: 10px;
}